# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.core.display import HTML
css = open('../../style-table.css').read() + open('../../style-notebook.css').read()
HTML('<style>%s</style>' % css)

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data = pd.read_table('wind.data', sep=r'\s+')
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [4]:
df = data[['Yr', 'Mo', 'Dy']].copy()
df.columns = ['year', 'month', 'day']
df.year = df.year + 1900

data['Date'] = pd.to_datetime(df)
data = data.set_index('Date')
data = data.iloc[:, 3:]
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [5]:
# Ha-ha, nothing to fix

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [6]:
# Ha-ha, nothing to fix too

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [7]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [8]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [9]:
data.shape[0] - data.isnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [10]:
data.fillna(0).values.flatten().mean()

10.223864592840483

In [11]:
data.mean()
data.mean().mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [12]:
loc_stats = data.describe(percentiles=[])
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [13]:
day_stats = pd.DataFrame({
    'min': data.apply(np.min, axis=1), 
    'max': data.apply(np.max, axis=1), 
    'mean': data.apply(np.mean, axis=1), 
    'std': data.apply(np.std, axis=1), 
})
day_stats

              max       mean    min       std
Date
1961-01-01  18.50  13.018182   9.29  2.678157
1961-01-02  17.54  11.336364   6.50  3.040587
1961-01-03  18.50  11.641818   6.17  3.510565
1961-01-04  11.75   6.619167   1.79  3.061972
1961-01-05  13.33  10.630000   6.17  2.341250
1961-01-06  13.21   8.240000   4.42  2.870427
1961-01-07  14.29  10.385000   4.96  2.941325
1961-01-08  16.62  10.487500   5.91  3.396221
1961-01-09  15.37   9.897500   4.75  2.782239
1961-01-10  19.50  10.477500   6.54  3.296048
1961-01-11  20.71   9.625000   2.79  4.600515
1961-01-12  19.75  13.524167   9.46  3.231361
1961-01-13   9.92   4.277500   0.58  2.792192
1961-01-14   9.04   3.975833   0.50  2.670104
1961-01-15  12.04   6.695000   2.37  3.137240
1961-01-16  16.42  10.164167   4.71  3.371366
1961-01-17  17.75  13.621667   8.71  2.752353
1961-01-18  20.79  15.348182   8.79  3.936643
1961-01-19   7.83   4.111667   1.04  2.078885
1961-01-20  11.83   5.980000   1.58  2.888768
1961-01-21  14.33   9.302500   6.13  2.437810
1961-01-22  10.88   7.582500   2.17  2.379521
1961-01-23  20.58  14.034167   9.96  3.071993
1961-01-24  25.84  20.000833  14.83  4.000247
1961-01-25  17.50  10.965000   6.04  3.078145
1961-01-26  25.25  18.324167  14.25  3.484601
1961-01-27  27.63  19.845833  16.13  3.565164
1961-01-28  20.30  13.690833   8.87  3.297841
1961-01-29  27.71  22.024545  17.54  2.616359
1961-01-30  19.25  12.490833   7.92  3.364175
...           ...        ...    ...       ...
1978-12-02  19.95  10.975833   5.13  3.832722
1978-12-03  25.75  18.025000  11.58  3.666900
1978-12-04  17.96  10.293333   1.71  4.379710
1978-12-05  22.75  15.770833   8.50  3.881657
1978-12-06  34.46  23.283333  16.04  4.771159
1978-12-07  34.59  22.910000  18.16  4.348726
1978-12-08  17.33   9.108333   3.37  3.765773
1978-12-09  18.71  12.292500   6.04  3.614015
1978-12-10  26.08  17.910000  13.00  4.453175
1978-12-11  22.83  16.812500  11.63  3.041927
1978-12-12  23.13  13.400833   8.29  4.203474
1978-12-13  24.04  16.229167   8.33  4.378475
1978-12-14  19.75   9.551667   3.37  4.925973
1978-12-15  17.16   9.205833   4.00  4.321141
1978-12-16  18.08   9.245000   2.46  4.884137
1978-12-17   9.87   4.072500   0.54  3.057497
1978-12-18  19.79   8.820000   1.00  5.660601
1978-12-19  18.25   8.685000   2.33  4.106541
1978-12-20  12.38   5.025833   0.42  3.575650
1978-12-21  20.30   9.930833   3.83  4.304262
1978-12-22  13.08   7.000833   2.46  3.099515
1978-12-23  22.21  15.613333   9.50  3.686899
1978-12-24  31.71  10.823333   4.79  6.888725
1978-12-25  13.96   5.729167   0.75  3.430713
1978-12-26  13.83   6.523333   1.96  4.121255
1978-12-27  40.08  16.708333   8.08  7.533109
1978-12-28  41.46  15.150000   5.00  9.275416
1978-12-29  29.58  14.890000   8.71  5.511751
1978-12-30  28.79  15.367500   9.13  5.304564
1978-12-31  27.29  15.402500   9.59  5.459712

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [14]:
data.loc[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [15]:
# WRONG
data.resample('M').mean().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-31,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02-28,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03-31,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04-30,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05-31,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613

In [16]:
# Not exactly wrong, but not accurate
df = data.groupby(data.index.to_period('M')).mean()
df = df.loc[df.index.month == 1]
df.mean()

RPT    14.847314
VAL    12.912900
ROS    13.299624
KIL     7.199498
SHA    11.665601
BIR     8.054839
DUB    11.819355
CLA     9.511569
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [17]:
data.groupby(data.index.to_period('A')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

In [18]:
# Verify the previous expression:
data.loc[data.index.year == 1961].RPT.mean()
data.loc[data.index.year == 1961].VAL.mean()

12.299583333333336

10.351795580110501

### Step 13. Downsample the record to a monthly frequency for each location.

In [19]:
# Treat months differently in different years
data.groupby(data.index.to_period('M')).mean().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613

In [20]:
# Verify the first row
data.loc[(data.index.month == 1) & (data.index.year == 1961)].mean()

RPT    14.841333
VAL    11.988333
ROS    13.431613
KIL     7.736774
SHA    11.072759
BIR     8.588065
DUB    11.184839
CLA     9.245333
MUL     9.085806
CLO    10.107419
BEL    13.880968
MAL    14.703226
dtype: float64

In [21]:
# Accumulate months in different years
data.groupby(data.index.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

In [22]:
# Verify the first row
data.loc[(data.index.month == 1)].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 14. Downsample the record to a weekly frequency for each location.

In [23]:
data.groupby(data.index.to_period('W')).mean().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1960-12-26/1961-01-01,15.040000,14.960000,13.170000,9.290000,NaN,9.870000,13.670000,10.250000,10.830000,12.580000,18.500000,15.040000
1961-01-02/1961-01-08,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961-01-09/1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961-01-16/1961-01-22,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961-01-23/1961-01-29,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000

In [24]:
# WRONG!
data.iloc[::7].head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
1961-01-15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
1961-01-22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
1961-01-29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [25]:
# As already solved above
data.groupby(data.index.to_period('M')).mean().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [26]:
weekly = data.resample('W').agg(['min','max','mean','std'])
weekly.iloc[1:53].head(10)

              RPT                                VAL                    \
              min    max       mean       std    min    max       mean
Date
1961-01-08  10.58  18.50  13.541429  2.631321   6.63  16.88  11.486667
1961-01-15   9.04  19.75  12.468571  3.555392   3.54  12.08   8.967143
1961-01-22   4.92  19.83  13.204286  5.337402   3.42  14.37   9.862857
1961-01-29  13.62  25.04  19.880000  4.619061   9.96  23.91  16.141429
1961-02-05  10.58  24.21  16.827143  5.251408   9.46  24.21  15.460000
1961-02-12  16.00  24.54  19.684286  3.587677  11.54  21.42  16.417143
1961-02-19   6.04  22.50  15.130000  5.064609  11.63  20.17  15.091429
1961-02-26   7.79  25.80  15.221429  7.020716   7.08  21.50  13.625714
1961-03-05  10.96  13.33  12.101429  0.997721   8.83  17.00  12.951429
1961-03-12   4.88  14.79   9.376667  3.732263   8.08  16.96  11.578571

                        ROS           ...           CLO              BEL  \
                 std    min    max    ...          mean       std    min
Date                                  ...
1961-01-08  3.949525   7.62  12.33    ...      8.497143  1.704941   5.46
1961-01-15  3.148945   7.08  19.50    ...      7.571429  4.084293   5.25
1961-01-22  3.837785   7.29  20.79    ...      8.124286  4.783952   6.50
1961-01-29  5.170224  12.67  25.84    ...     15.640000  3.713368  14.04
1961-02-05  5.187395   9.04  19.70    ...      9.460000  2.839501   9.17
1961-02-12  3.608373  13.67  21.34    ...     14.440000  1.746749  15.21
1961-02-19  3.575012   6.13  19.41    ...     13.542857  2.531361  14.09
1961-02-26  5.147348   6.08  22.42    ...     12.730000  4.920064   9.59
1961-03-05  2.851955   8.17  13.67    ...     12.370000  1.593685  11.58
1961-03-12  3.230167   7.54  16.38    ...     10.458571  3.655113  10.21

                                          MAL
              max       mean       std    min    max       mean       std
Date
1961-01-08  17.54  12.481429  4.349139  10.88  16.46  13.238571  1.773062
1961-01-15  20.71  11.125714  5.552215   5.17  16.92  11.024286  4.692355
1961-01-22  15.92   9.821429  3.626584   6.79  17.96  11.434286  4.237239
1961-01-29  27.71  20.930000  5.210726  17.50  27.63  22.530000  3.874721
1961-02-05  19.33  14.012857  4.210858   7.17  19.25  11.935714  4.336104
1961-02-12  26.38  21.832857  4.063753  17.04  21.84  19.155714  1.828705
1961-02-19  29.63  21.167143  5.910938  10.96  22.58  16.584286  4.685377
1961-02-26  23.21  16.304286  5.091162   6.67  23.87  14.322857  6.182283
1961-03-05  23.45  17.842857  4.332331   8.83  17.54  13.951667  3.021387
1961-03-12  22.71  16.701429  4.358759   5.54  22.54  14.420000  5.769890

[10 rows x 48 columns]

In [27]:
# Verify the means above
data.groupby(data.index.to_period('W')).mean().iloc[1:,:].head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-02/1961-01-08,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961-01-09/1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961-01-16/1961-01-22,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961-01-23/1961-01-29,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000
1961-01-30/1961-02-05,16.827143,15.460000,12.618571,8.247143,13.361429,9.107143,12.204286,8.548571,9.821429,9.460000,14.012857,11.935714

In [28]:
# Verify the std above
data.groupby(data.index.to_period('W')).std().iloc[1:,:].head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-02/1961-01-08,2.631321,3.949525,1.604761,1.810743,3.251660,2.059546,1.872222,3.098404,1.722255,1.704941,4.349139,1.773062
1961-01-09/1961-01-15,3.555392,3.148945,5.034959,3.549559,3.471726,3.251039,4.709309,3.936894,3.500975,4.084293,5.552215,4.692355
1961-01-16/1961-01-22,5.337402,3.837785,5.086229,6.245541,3.612875,3.453432,5.166300,3.164990,4.169112,4.783952,3.626584,4.237239
1961-01-23/1961-01-29,4.619061,5.170224,4.665843,4.301325,4.858116,3.749415,4.508449,4.436222,4.902057,3.713368,5.210726,3.874721
1961-01-30/1961-02-05,5.251408,5.187395,3.975166,2.709106,2.334619,2.397066,2.423454,4.081158,2.802490,2.839501,4.210858,4.336104

In [29]:
data.groupby(data.index.to_period('W')).agg(['min','max','mean','std']).iloc[1:53,:].head()

                         RPT                               VAL         \
                         min    max       mean       std   min    max
Date
1961-01-02/1961-01-08  10.58  18.50  13.541429  2.631321  6.63  16.88
1961-01-09/1961-01-15   9.04  19.75  12.468571  3.555392  3.54  12.08
1961-01-16/1961-01-22   4.92  19.83  13.204286  5.337402  3.42  14.37
1961-01-23/1961-01-29  13.62  25.04  19.880000  4.619061  9.96  23.91
1961-01-30/1961-02-05  10.58  24.21  16.827143  5.251408  9.46  24.21

                                              ROS           ...           CLO  \
                            mean       std    min    max    ...          mean
Date                                                        ...
1961-01-02/1961-01-08  11.486667  3.949525   7.62  12.33    ...      8.497143
1961-01-09/1961-01-15   8.967143  3.148945   7.08  19.50    ...      7.571429
1961-01-16/1961-01-22   9.862857  3.837785   7.29  20.79    ...      8.124286
1961-01-23/1961-01-29  16.141429  5.170224  12.67  25.84    ...     15.640000
1961-01-30/1961-02-05  15.460000  5.187395   9.04  19.70    ...      9.460000

                                   BEL                                MAL  \
                            std    min    max       mean       std    min
Date
1961-01-02/1961-01-08  1.704941   5.46  17.54  12.481429  4.349139  10.88
1961-01-09/1961-01-15  4.084293   5.25  20.71  11.125714  5.552215   5.17
1961-01-16/1961-01-22  4.783952   6.50  15.92   9.821429  3.626584   6.79
1961-01-23/1961-01-29  3.713368  14.04  27.71  20.930000  5.210726  17.50
1961-01-30/1961-02-05  2.839501   9.17  19.33  14.012857  4.210858   7.17


                         max       mean       std
Date
1961-01-02/1961-01-08  16.46  13.238571  1.773062
1961-01-09/1961-01-15  16.92  11.024286  4.692355
1961-01-16/1961-01-22  17.96  11.434286  4.237239
1961-01-23/1961-01-29  27.63  22.530000  3.874721
1961-01-30/1961-02-05  19.25  11.935714  4.336104

[5 rows x 48 columns]